:root {
    --color-primary: #85A5D4;

    --color-white: #FFF;
    --color-grey: #F6F6F6;

    --color-text-primary: #5673D5;
    --color-text-secondary: #A7A7A7;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; /* 10px */
}

body {
    box-sizing: border-box;
    background: var(--color-primary);
    font-family: Roboto, sans-serif;
    line-height: 2rem;
    font-size: 1.3rem;
}

.container {
    width: 90rem;
    margin: 10rem auto;
    color: var(--color-text-primary);
    padding: 2rem;
    border-radius: .5rem;
    background: var(--color-white);
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, .3);
    display: flex;
    align-items: baseline;
}

.item {
    flex: 1;
    cursor: pointer;
    padding: 2rem 4rem;
    border-radius: 4px;
    transition: background 0.15s ease-in-out;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.item:hover {
    background: var(--color-grey);
}

.item__img {
    width: 7rem;
}

.item__title {
    margin-top: 4rem;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .4rem;
    text-transform: uppercase;
}

.item__description {
    margin: 2rem 0;
    color: var(--color-text-secondary);
    text-align: center;
}

.item__price {
    font-size: 3rem;
    font-weight: 500;
}

.item__price::before {
    content: "$";
    vertical-align: super;
    font-size: 1.5rem;
    display: inline-block;
}

.item__price::after {
    display: inline-block;
    content: "/ month";
    font-size: 1.3rem;
    font-weight: 400;
    margin-left: .4rem;
}
